<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
  <br/><br/>
  <strong>Comment:</strong>
  <table>
  <% @comments && @comments.each do |comment| %>
    <tr>
      <td>
        Comment by: <%= comment.user_id %><br/>
        <%= comment.content %>
      </td>
      <% if current_user && current_user.id == comment.user_id %>
        <td><%= link_to 'Edit', edit_micropost_comment_path( @micropost.id, comment.id ) %></td>
        <td><%= link_to 'Destroy', micropost_comment_path( @micropost.id, comment.id ), method: :delete, data:  { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</p>

<% if current_user %>
  <%= link_to 'Add Comment', new_micropost_comment_path(@micropost.id) %>
<% end %>

<% if current_user && current_user.id == @micropost.user_id %>
  <br/>
  <%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<% end %>
<%= link_to 'Back', microposts_path %>
